<!-- {% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Website</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
    	<form action="postsignin" method="post">
    		Email:
    		<input type="email" name="email">
    		Password:
    		<input type="password" name="password">
    	</form>
    </body>
    <body>
        <header class="wrapper">
            <h1><a href="{% url 'home' %}"><img src="{% static 'movie_logo.jpg' %}" alt="movie-website" /></a></h1>
            <nav>
                <ul>
                {% if user.is_authenticated %}
                    <li>
                      <form class='logout-link' action="{% url 'accounts:logout' %}" method="post"> 
                       {% csrf_token %} 
                        <button type='submit'>Logout</button>
                        </form>
                    </li>
                    <li> <a href="{% url 'movies:create' %}" class='highlight'>New Movie</a></li>
                {% else %}
                        <li> <a href="{% url 'accounts:login' %}">Login</a></li>
                        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
                        <li><a href="{% url 'accounts:signIn' %}">SignIn</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

 -->